{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'app/styles.css' %}">

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Appointments</title>
</head>
<body>
    <header>
        <a href="/"><h2>Home</h2></a>
        <nav>
            <a href="/appointments/">Appointments</a>
        </nav>
    </header>

    <h1>Appointments</h1>

    {% if appointments %}
        <ul>
            {% for appointment in appointments %}
                {% for employee in appointment.employee_set.all %}
                    <li>{{ employee.first_name }} - {{ appointment.customer.first_name }} - {{ appointment.appointment_datetime }}</li>
                {% endfor %}
            {% endfor %}
        </ul>
    {% else %}
        <p>No appointments available.</p>
    {% endif %}

</body>
</html>