{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'app/styles.css' %}">

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Appointments</title>

    <link rel="shortcut icon" type="image/png" href="{% static 'images/SunMountains.png' %}">

    <link rel="stylesheet" href="{% static 'jquery-ui-1.12.1.custom/jquery-ui.css' %}">
    <script type="text/javascript" src="{% static 'jquery-ui-1.12.1.custom/external/jquery/jquery.js' %}"></script> 
    <script type="text/javascript" src="{% static 'jquery-ui-1.12.1.custom/jquery-ui.js' %}"></script> 

    <script>
         $(function() {
            $( "#datepicker-1" ).datepicker();
         });
    </script>

</head>
<body>
    <div class="main-container">
        <header>
            <a href="/"><h2>Logo</h2></a>
            <nav>
                {% if request.user.is_authenticated %}
                    <p class="header-user-name"><a href="/user-page/">Welcome, {{ request.user.name }}!</a></p>
                    <a href="/logout/?next=/">Logout</a>
                {% else %}
                    {% comment %} 
                        TEMPLATE_CONTEXT_PROCESSORS in settings allows request.path
                        to reference the path the request came from so the user
                        can be redirected back after logging in.
                    {% endcomment %}
                    <a href="/login/">Login</a>
                {% endif %}

                <a href="/user-page/">My Appointments</a>
                <a href="/make-appointment/">Make Appointment</a>

                {% if request.user.is_staff %}
                    <a href="/create-user/">Create User</a>
                {% endif %}
            </nav>
        </header>

            {% block content %}{% endblock %}
            
    </div>
</body>
</html>