{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'app/styles.css' %}">

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Appointments</title>

    <link rel="shortcut icon" type="image/png" href="{% static 'images/SunMountains.png' %}">

    <link rel="stylesheet" href="{% static 'jquery-ui-1.12.1.custom/jquery-ui.css' %}">
    <script type="text/javascript" src="{% static 'jquery-ui-1.12.1.custom/external/jquery/jquery.js' %}"></script> 
    <script type="text/javascript" src="{% static 'jquery-ui-1.12.1.custom/jquery-ui.js' %}"></script> 

    <script>
         $(function() {
            $( "#datepicker-1" ).datepicker();
         });
    </script>

</head>
<body>
    <header>
        <a href="/"><h2>Home</h2></a>
        <nav>
            <a href="/appointments/">Appointments</a>
            <a href="/make-appointment/">Make Appointment</a>
            <a href="/create-user/">Create User</a>
            <a href="/modify-user/">Edit User</a>
        </nav>
    </header>

        {% block content %}{% endblock %}

</body>
</html>