{% extends 'app/base.html' %}

{% block content %}
    
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/make-appointment.css' %}">

    <div class="form-container">
        <h3>Make an Appointment</h3>

        <form action="/make-appointment/" method="post" autocomplete="off">
        {% csrf_token %}
            {{ form.as_p}}
  

            <input type="submit" value="Schedule" class="button">
        </form>
    </div>
    

    {% if error_message != "" %}
        <p class='error-msg'>Error!  {{ error_message }}</p>
    {% endif %}

{% endblock %}