:root {
    --main-text-color: #606060;
    min-width: 300px;
    font-family: "Helvetica", Helvetica, Arial, sans-serif;
    font-size: 1.2rem;

    color: var(--main-text-color);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid var(--main-text-color);
}

header h1, a {
    text-decoration: none;
    color: var(--main-text-color)
}

h3 {
    text-align: center;
}

nav a {
    font-size: 1rem;
}

header nav{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.main-container {
    width: 100%;
    max-width: 800px;
}

.header-user-name {
    margin: 1rem 0 1rem 0;
}