form {
    margin: 0;
}

ul {
    padding: 0;
}

.list-container h3 {
    text-align: center;
    margin-left: 40px;
}

.list-item-border {
    height: 1px;
    width: 80%;
    border-bottom: 1px solid black;

    display: block;
    margin-left: auto;
    margin-right: auto;
}

.appointment-list-item {
    display: grid;
    grid-template-columns: 50% 25% 25%;
    justify-items: center;
    align-items: center;

    padding: 1.5rem 0;
}

.appointment-list-item * {
    margin: 0 2rem;
}

.appointment-description {
    word-wrap: normal;
    grid-column: 1 / 1;

    text-align: center;
}

.change-appointment-button {
    grid-column: 2 / 2;

}

.delete-appointment-form {
    grid-column: 3 / 3;
}    

.form-item-button {
    font-weight: bold;
    border-radius: 20%;
    padding: .2rem .5rem;
    background-color: var(--main-text-color);
    color: #ffff;
}