<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Appointments</title>
<!--        <link type="image/png" href="images/Favicon.png" />-->
<!--        <link rel="stylesheet" href="styles/styles.css" />-->
    </head>

    <body>
        <header>
        </header>

        <div class="main-container">
            {% if next_five_appointments %}
                <ul>
                    {% for appointment in next_five_appointments %}
                        <li><a href="{% url 'appointments:view_appointment' appointment.id %}">{{ appointment.appointment_datetime }}</a></li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>There are no appointments.</p>
            {% endif %}
        </div>

        <footer>
        </footer>

    </body>
</html>
