<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Appointments</title>
<!--        <link type="image/png" href="images/Favicon.png" />-->
<!--        <link rel="stylesheet" href="styles/styles.css" />-->
    </head>

    <body>
        <header>
        </header>

        <div class="main-container">

            {% if employees %}
                <ul>
                    {% for employee in employees %}
                        <li>{{ employee }}</li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>There are no employees.</p>
            {% endif %}

            <form action="/action_page.php">
                <label for="cars">Choose a car:</label>
                <select name="cars" id="cars">
                    <option value="volvo">Volvo</option>
                    <option value="saab">Saab</option>
                    <option value="opel">Opel</option>
                    <option value="audi">Audi</option>
                </select>
                <br><br>
                <input type="submit" value="Submit">
            </form>


        </div>

        <footer>
        </footer>

    </body>
</html>
